* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-image: radial-gradient(
		circle 858.6px at 10% 20%,
		rgba(118, 5, 54, 1) 0%,
		rgba(238, 129, 167, 1) 90%
	);
	font-family: "Source Code Pro", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	max-width: 32rem;
	/* margin: 2rem auto; */
	border-radius: 0.5rem;
	padding: 1rem;
}

.top{
    display: flex;
    justify-content: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
}
.logo img {
	width: 8rem;
}
.title{
    margin-top: .5rem;
    line-height: 1.5rem;
}

#inputUrl{
    margin-top: .5rem;
    background:transparent;
    outline: 1px solid rgb(17, 135, 238);
    color: #000;
    padding: .5rem;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    transition: .5s all;
}
#inputUrl::placeholder{
    color: #fff;
    font-size: 1rem;
}
#inputUrl:hover{
    border:2px solid #fff;
    outline: none;
    transition: .5s all;
}

/* buttons */
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto;

}
.btn {
    padding: 1rem;
    background-color: rgb(17, 135, 238);
    color: #fff;
	border-radius: 0.5rem;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(2, 148, 253);
    transform: scale(1.1);
    transition: .5s all;
}

/* bottom */
.url-area{
    display: flex;
    align-items: center;
}
.left{
    width: 90%;
}
.right{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: .5rem;
}
.right i {
    color: rgb(17, 135, 238);
    transition: .5s all;
}
.right i:hover{
    color: #fff;
    transition: .3s all;
}
#shortUrl{
    background:transparent;
    outline: 1px solid rgb(17, 135, 238);
    color: #000;
    padding: .5rem;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    transition: .5s all;
}
#shortUrl::placeholder{
    color: #fff;
    font-size: 1rem;
}
#shortUrl:hover{
    border:2px solid #fff;
    outline: none;
    transition: .5s all;
}